 $blue-color: #4e74ff;
 $light-grey: #8c909d;
 $dark-grey:  #42444d;
 $main-color: #F5F5F5;


/*<===========================================NAVIGATION BAR===========================================>*/


h1, h2, h3 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.container-fluid{
  padding-left: 45px!important;
  padding-right: 45px!important;
  padding-top: 30px!important;background-color: white;
}
.navbar{
    @media only screen and (max-width: 767px)  {
       text-align: center;

      }
  
  .logo {
      background: white;
      border: 4px solid $blue-color;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      margin: 0px 46px 0px 0px;
      }
       @media only screen and (max-width: 905px) {
        .logo{
         margin-right: 0px!important;
         float: left;
         margin-right: 10px;
        }
        @media only screen and (max-width: 767px)  {
        .logo{
         margin-right: 0px;
         float: none!important;
        }

        }
    }
    .navbar-header {
      padding-left: 45px;
      @media only screen and (max-width: 767px) {
       .navbar-header {
          padding-left: calc(50% - 15px);
        }
      }
      .navbar-toggle {
        color: $light-grey;
      }

      .icon-bar {
        color: $blue-color;
        background: $light-grey;
      }
    }

  .nav > li > a:hover {
      background-color: transparent !important;
    }
    .navbar-brand{
      padding-top: 0px;
      @media only screen and (max-width: 835px) {
        float: none;
        padding: 0px
      }
    }

    .navbar-right {
      margin-right: 0px !important;
      margin: 0px 30px 0 0;
    }
    .active {
      color: $blue-color;
    }
    .container-fluid ul li {
    .underline {
      height: 3px;
      background-color: transparent;
      width: 0%;
      transition: width 0.2s, background-color 0.5s;
      margin: 0 auto;
    }

    &.current .underline {
      width: 20px;
      margin: 1px 0px 0px 0px;
      background-color: $blue-color;
     
    }

    &:hover {
      .underline {
        background-color: $blue-color;
        width: 20px;
        margin: 1px 0px 0px 0px;
      }

      a {}
    }

    &:active a {
      transition: none;
      color: rgba(255, 255, 255, 0.76);
    }
  }
  .nav-user-picture {
    width: 30px;
    }

    .home {
      height: calc(100vh - 3rem);
      row-gap: 1rem;
    }

    .user {
      font-weight: bold;
      vertical-align: middle;
      margin-right: 36px;
      margin-left: 9px;
      color: $blue-color;
    }
  .nav-notification {
    background-color: $light-grey;
    border-radius: 50%;
    color: white;
    width: 24px;
    height: 24px;
    margin: -8px 0 0 9px;
    background-color: $blue-color;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    line-height: 24px;
    padding-left: 4px;
  }
  .navbar-item {
    font-weight: bold;
    color: $light-grey;
    padding-left: 0px;
    margin: 8px 27px 0 0px;
    font-family:'Open Sans', sans-serif;;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $light-grey;
  }

  .navbar-nav {

     
     li > a {
      padding: 0px ;
      @media only screen and (max-width: 835px) {
         padding-left: 3px!important;

      }
      @media only screen and (max-width: 767px)  {
          padding: 10px 0px 0px 0px !important;
          margin-right: 0px;

        }
    }
  }
  .active {
    color: $blue-color;
  }
  .container-fluid ul li {
    .underline {
      height: 3px;
      background-color: transparent;
      width: 0%;
      transition: width 0.2s, background-color 0.5s;
      margin: 0 auto;
    }

    &.current .underline {
      width: 20px;
      margin: 1px 0px 0px 0px;
      background-color: $blue-color;
      @media only screen and (max-width: 767px) {
        width: 10%;
        background-color: $blue-color;
        margin-left: auto;
        margin-right: auto;
      }
     
    }

    &:hover {
      .underline {
        background-color: $blue-color;
        width: 20px;
        margin: 1px 0px 0px 0px;
         @media only screen and (max-width: 767px) {
            background-color: $blue-color;
            width: 10%;
            margin-left: auto;
            margin-right: auto;
          }
      }

      a {}
    }

    &:active a {
      transition: none;
      color: rgba(255, 255, 255, 0.76);
    }
  }
}


/*<===========================================FIRTST PART===========================================>*/

.container-fluid{
  padding-left: 45px!important;
  padding-right: 45px!important;
  padding-top: 30px!important;

.header-text {
  font-weight: bold;
  color: $blue-color;
  font-size: 64px;
  padding-top: 138px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  @media only screen and (max-width: 490px) {
    font-size: 32px;
    padding-bottom: 30px;
  }
  
}
.menu {
  align-content: center;
  align-items: center;
  display: flex;
  padding-left: 0px;
  margin-top: 92px;
  margin-bottom: 35px;
  @media only screen and (max-width: 835px) {
     margin-bottom:0px;
  }
  @media only screen and (max-width: 490px) {
      margin-top: 20px;
  }
}
.menu-1 {
  align-content: center;
  align-items: center;
  display: flex;
  padding-left: 0px;
  margin-top: 92px;
  margin-left: -65px;
  @media only screen and (max-width: 1199px) {    
      align-content: center;
      align-items: center;
      display: flex;
      padding-left: 0px;
      margin-left: 0px;
      margin-top: 20px;
      margin-bottom: 70px;    
  }
  @media only screen and (max-width: 991px) {    
      margin-top: 92px;
      margin-bottom: 0px;    
  }
}
.rad-menu-item {
  position: relative;
  z-index: 5;
  display: inline-block;
  float: left;
  margin-right: 22px;
  
  .circle-rad-menu{
    width: 64px;
    height: 64px;
    padding: 16px 16px 17px 17px;
    background-color: $dark-grey;
    border-radius: 50%;
    display: block;
    .task-icon{
      width: 31px;
      height: 31px;
      object-fit: contain;
      }
    }
  .rad-menu-badge {
    position: absolute;
    width: 33px;
    height: 33px;
    line-height: 28px;
    font-weight: bold;
    color: white;
    border-radius: 100%;
    font-size: 12px;
    background: $blue-color;
    display: inline-block;
    text-align: center;
    top: -8px;
    z-index: 1;
    left: 40px;
    border: 2px solid;
    @media only screen and (max-width: 490px) {
      left: 43px;
      border: 2px solid;
      width: 27px;
      height: 27px;
      line-height: 24px;
      top: -4px;
    }
  }
}
.menu-item-text {
  color: $dark-grey;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 12px;
}
}

/*<===========================================SKILLS CONTAINER===========================================>*/
.skills{
   margin-top: 230px;
  @media only screen and (min-width: 1200px) {
    margin-top: 30px;
    margin-bottom: 80px;
  }
  @media only screen and (max-width: 835px) {
    margin-top: 230px;
    margin-bottom: 80px;
  }
   @media only screen and (max-width: 767px) {
           margin-top: 30px;
           margin-bottom: 1px;
  }
  .skills__container{
    margin-top: 37.5px;

    .skills-picture {
      max-width: 29.33px;
      max-height: 29.33;
      float: left;
      margin-left: 15px;
      margin-right: 14px;
      margin-top: 5px;
    }
    .skills__data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: .5rem 1rem;
      border-radius: .5rem;
      padding-left: 0px;
      width: 160.01px;
      .skills__names {
        display: flex;
        align-items: center;
      }
      .skills__bar {
        width: 160.01px;
        position: absolute;
        left: 0;
        bottom: 0;
        height: .25rem;
        border-radius: .5rem;
        z-index: var(--z-back);
        background-color: #D7DBE8;
        .skills__html {
          width: 78px;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: blue;
          height: .25rem;
          border-radius: .5rem;
          z-index: var(--z-back);
        }

        .skills__css {
          width: 113px;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: blue;
          height: .25rem;
          border-radius: .5rem;
          z-index: var(--z-back);
      }
      }
    }
  }
}
.dot {
  height: 6px;
  width: 6px;
  background-color: #DEDEDE;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 30px;
  }
   .dots {
    margin-top: 70px;
    padding-left: 15px;
    .active-dot {
      background-color: #4e74ff !important;
  }
}


/*<===========================================SECOND PART===========================================>*/
.triangle {
     width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0px 41vw 48vw;
    border-color: transparent transparent #007bff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #007bff #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    bottom: 0px !important;
    right: 0px;
    position: fixed;
    @media only screen and (max-width: 1199px) {
          border-width: 0px 0 66vw 64vw;
          position: fixed;
          margin-right: -30px;
        margin-bottom: -100px;
        }
    @media only screen and (max-width: 835px) {
        position: absolute;
        border-width: 0px 0 66vw 64vw;
        margin-right: -30px;
        margin-bottom: -100px;
    }
    @media only screen and (max-width: 767px) {
        position: absolute;
        border-width: 0 0 67vw 100vw;
        width: 545px;
        height: 694px;
    }
    @media only screen and (max-width: 575px){
          position: absolute;
          width: 545px;
          margin-bottom: -70px;
    }
    @media only screen and (max-width: 490px){
          position: absolute;
          width: 30px;
          margin-bottom: -70px;
    }

}
    .triangle-inside-text {
      position: absolute;
      z-index: 12;
      display: inline;
      color: white;
      bottom: 0;
      right: 44px;
      font-weight: 500;
      right: 15px;
      font-weight: 500;
      font-size: 12px;
      margin-bottom: -30%;
       @media only screen and (max-width: 1000px) {
           display: inline;
           margin-bottom: -55px;
        }
       @media only screen and (max-width: 490px) {
           display: grid;
           margin-bottom: -55px;
        }
      .inside-text-b {
        font-weight: 900;
        text-decoration: underline;
      }
    }
#calendar {
  width: 350px; 
  background-image: linear-gradient(to bottom, #4e74ff, #4e74ff);
  margin: 0 auto;
  font-family: 'Open Sans',sans-serif;
  text-align: center;
  color: #555;
  box-shadow: 0 0 50px -14px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 9;
  opacity: 92%;
  border:  $dark-grey solid;
  border-radius: 10px;
  margin-top: 148px;
  background: $dark-grey;
  @media only screen and (max-width: 835px) {
     margin-top: 15px;
     
  }
  @media only screen and (max-width: 490px) {
     margin-bottom: 10vh;
     width: 240px;
  }
  table {
    border-spacing: 0;
    td {
    width: 38px;
    height: 38px;
    background: $dark-grey;
    padding-top: 21px;
    padding-left:  0px;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
    color: $blue-color;
        
  }

    .calendar-mn{
    padding-left: 12px;
  
  }
  .calendar-sn{
    padding-right: 26px;
    padding-left: 4px;
  }
  .lastmonth {
    background: $dark-grey;
    color: $dark-grey;
    cursor: default;
  }

  .nextmonth {
    background: $dark-grey;
    color: $dark-grey;
    cursor: default;

    ~ * {
      background: $dark-grey;
      color: $dark-grey;
      cursor: default;
    }
  }
  .current {
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    padding-left: 24px;
  }
      .b-calendar{
        padding-bottom: 23px;
        font-weight: 700;
      }

      tr:last-of-type td {
        &:first-of-type {
          border-radius: 0 0 0 0px;
        }

        &:last-of-type {
          border-radius: 0 0 0px 0;
        }
      }
    }
  .calendar-main-header {
     background-color: $dark-grey;

      .calendar-header-text {
        font-weight: bold;
        color: $blue-color;
        font-size: 140px;
        margin-bottom: 0px;
        line-height: 1;
      }
      .calendar-header-secondary-text {
        font-size: 28px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
  
  .calendar-table{
    width: -moz-available;
    .calendar-notification {
      background-color: $blue-color;
      border-radius: 50%;
      color: white;
      width: 36px;
      height: 36px;
      display: inline-block;
      line-height: 17px;
       padding: 7px 10px 10px;
    }
  }


  }












